<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center">My first Redux App</h3>
            <div class="card small valign-wrapper">
                <span class="black-text center-block" style="font-size:20px;">{{ message }}</span>
            </div>
        </div>
        <div class="col s3">
            <button class="btn waves-effect" (click)="malvikaMessage()">Malvika</button>
        </div>
        <div class="col s3">
            <button class="btn waves-effect" (click)="rheaMessage()">Rhea</button>
        </div>
        <div class="col s3">
            <button class="btn waves-effect" (click)="keyurMessage()">Keyur</button>
        </div>
        <div class="col s3">
            <button class="btn waves-effect" (click)="ashwitaMessage()">Ashwita</button>
        </div>
    </div>
</div>
